.m-button {
  @include font-size(2);
  @include transition (all $animation-duration);
  display: inline-block;
  padding: 0 $base-width * 2 $baseline / 3;
  border-radius: $base-width - 1;
  background: transparent;
  border: 1px solid white;
  font-weight: normal;
  color: white;
  line-height: $baseline * 6 - 4;

  &:hover {
    @include transition (all $animation-duration);
    color: $pink;
    border-color: $pink;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.12);
  }

  &:focus { }
}

.m-button--large {
  @extend .m-button;
  @include font-size(2.4);
  padding: 0 $base-width * 4;
  line-height: $baseline * 7 - 2;
  font-weight: $font-light;
}

.m-button--dark-blue {
  @extend .m-button;
  border-color: darken($blue,16%);
  color: darken($blue,16%);
}

.m-button--primary {
  @extend .m-button;
  background: $light-blue;
  @include background-image(linear-gradient(transparentize(white,0.84) 0, transparentize(white,1.0) 50%));
  border: 1px solid $blue;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.04), inset 0 0 0 1px $lighter-blue;
  text-shadow: 0 1px 0 $blue;

  &:hover {
    color: white;
    border-color: darken($blue, 6%);
    background: darken($light-blue, 6%);
  }
}
