.m-form-sign-up {
  @include clearfix;
  position: relative;
  width: 100%;
  padding: $gutter/2;
  background: transparentize($darkest-gray, 0.35);
  border-radius: $baseline;
  @media screen and (min-width: $bp-small) {
    width: ($column * 4) + ($gutter * 3);
    padding: 0;
    background: transparent;
    border-radius: none;
  }

  > .m-button { float: right;}
}

.m-form-sign-up > span {
  display: block;
  padding-right: $gutter;
  overflow: hidden;

  div > input {
    @include font-size(2);
    @include placeholder { color: white;} 
    @include transition (all $animation-duration);
    width: 100%;
    padding-bottom: $baseline - 2;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    line-height: $baseline * 5;
    color: white;
    &:hover { 
      @include transition (all $animation-duration);
      border-color: $pink;
    }
    &:focus { 
      @include placeholder { color: transparentize(white, 0.5);}
      @include transition (all $animation-duration);
      border-color: $pink;
    }     
  }
  @media screen and (min-width: $bp) {

  }
}

.m-form-sign-up--footer {
  @extend .m-form-sign-up;
  padding: 0;
  background: none;
  @media screen and (min-width: $bp-small) {
    width: ($column * 4) + ($gutter * 4);
  }
}

.m-form-sign-up--footer > span {
  div > input {
    @include placeholder { color: $gray;} 
    padding: 0 ($base-width * 3) 0;
    background: white;
    border: 1px solid $gray;
    color: $darkest-gray;
    line-height: $baseline * 6;
    &:hover, &:focus { border-color: $blue;}
    &:focus {
      @include placeholder { color: transparentize($gray, 0.5);}
      color: $darker-gray;
    }
  }
}


