@import 'bourbon';
@import 'neat';
@import 'base';
@import 'constants';
@import 'header';
@import 'button';
@import 'form';

.franc-text {
  color: $pink;
  font-weight: $font-normal;
}

.m-wrapper {
  @include clearfix;
  position: relative;
  width: 100%;
  background: transparent;
}

.m-wrapper--white {
  @extend .m-wrapper;
  background: white;
}

.full-width {
  position: relative;
  width: ($column * 8) + ($gutter * 7);
  margin: 0 auto;
  padding: ($baseline * 19) 0;
}

.full-width--header {
  @extend .full-width;
  padding: 0;
}

.m-mod {
  @include transition (all $animation-duration);
  width: ($column * 4) + ($gutter * 3);
  text-shadow: 1px 1px 0px transparentize(white, 0.25), -1px -1px 1px transparentize(white, 0.25);
  > h2 {
    @include font-size(3.2);
    margin: ($baseline * 21 + 4) 0 $baseline;
    line-height: 1.3125;
  }
  > p {
    @include font-size(2);
    line-height: 1.25; // 25px
    color: $darker-gray;
  }
}

.m-mod--story {
  @extend .m-mod;
  width: ($column * 6) + ($gutter * 5);
  margin: 0 auto;
  margin-bottom: -110px;
  padding-top: $baseline * 12 - 5;
  padding-bottom: 0;
  background: white;
  > p { 
    @include font-size(3.2);
    margin-bottom: $baseline * 3;
    font-weight: $font-light;
    line-height: 1.3125;
    &:last-child { margin-bottom: 0;}
  }
}

.m-mod--right { 
  @extend .m-mod;
  float: right;
}

.m-mod--left { 
  @extend .m-mod;
  float: left;
}

.image {
  display: block;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.image--screenshot {
  @extend .image;
  width: ($column * 3);
  height: auto;
  background-size: 377px 620px;
}

#story-bg {
  height: 281px;
  background-image: url('../images/story-image@2x.png');
  background-size: 1200px 281px;
  @media screen and (min-width: 1200px) {
    height: 371px;
    background-size: cover;
  }
}

#add-sh {
  // background-image: url('../images/add-friends@2x.png');
}

#map-sh {
  // background-image: url('../images/use-the-map@2x.png');
  // background-position: right;
}

#stay-put-sh {
  //background-image: url('../images/ask-for-a-stay-put@2x.png');
}

#white-franc {
  float: right;
  width: 274px;
  height: 311px;
  margin-top: -311 + ($baseline * 19);
  margin-right: $gutter;
  background-image: url('../images/white-franc@2x.png');
  background-size: 274px 311px;
}

#met-up-group {
  height: 374px;
  margin-top: -374px;
  background-image: url('../images/together-at-last@2x.png');
  background-position: right;
  background-size: 614px 374px;
}

footer {
  background: white;
}

.m-update {
  width: ($column * 6) + ($gutter * 5);
  > h3 {
    @include font-size(3.2);
    margin: 0 0 ($baseline * 4 + 4);
    line-height: 1.3125;
  }
  > p {
    @include font-size(2);
    line-height: 1.25; // 25px
    color: $darker-gray;
    margin-bottom: ($baseline * 8);
  }
}


.is-hidden {
  opacity: 0;
  display: none;
}
