@import 'bourbon';
@import 'neat';
@import 'base';
@import 'constants';
@import 'header';
@import 'footer';
@import 'button';
@import 'form';
@import 'imgs';

.franc-text {
  color: $pink;
  font-weight: $font-normal;
}

.m-wrapper {
  @include clearfix;
  position: relative;
  width: 100%;
  background: transparent;
}

.m-wrapper--white {
  @extend .m-wrapper;
  background: white;
}

.full-width {
  @include clearfix;
  position: relative;
  width: 100%;
  padding: ($baseline * 19) $gutter;

  @media screen and (min-width: $bp) {
    width: ($column * 6) + ($gutter * 5);
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-large) {
    width: ($column * 8) + ($gutter * 7);
  }
}

.full-width--header {
  @extend .full-width;
  padding-top: 0;
  padding-bottom: 0;
  @media screen and (min-width: $bp) {
    padding: 0;
  }
}

.full-width--update {
  @extend .full-width;
  padding: ($baseline * 19) 0 ($baseline * 19 - 44);
}

.full-width--contact {
  @extend .full-width;
  padding: 0 0 ($baseline * 3 + 1);
}

.full-width--footer {
  @extend .full-width;
  padding: 0 0 ($baseline * 19) 0;
}

.m-mod {
  @include transition (all $animation-duration ease-in-out);
  width: ($column * 4) + ($gutter * 3);
  text-shadow: 1px 1px 0px transparentize(white, 0.25), -1px -1px 1px transparentize(white, 0.25);
  > h2 {
    @include font-size(3.2);
    margin: ($baseline * 21 + 4) 0 $baseline;
    line-height: 1.3125;
  }
  > p {
    @include font-size(2);
    line-height: 1.25; // 25px
    color: $darker-gray;
  }
}

.m-mod--story {
  @extend .m-mod;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -110px;
  padding-top: $baseline * 12 - 5;
  padding-bottom: 0;
  background: white;
  > p { 
    @include font-size(3.2);
    margin-bottom: $baseline * 3;
    font-weight: $font-light;
    line-height: 1.3125;
    &:last-child { margin-bottom: 0;}
  }
  @media screen and (min-width: $bp) { 
    width: ($column * 6) + ($gutter * 5);
  }
}

.m-mod--right { 
  @extend .m-mod;
  float: right;
}

.m-mod--left { 
  @extend .m-mod;
  float: left;
}

.is-hidden {
  opacity: 0;
  display: none;
}
