* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-size: 1em;
  position: relative;
  background: #f5f9ff;
  color: #616975;
  font-family: "Source Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 11px;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1900px) {
  body {
    font-size: 12px;
    font-size: 1.2em;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-size: 3.2em;
}

h2 {
  font-size: 26px;
  font-size: 2.6em;
}

h3 {
  font-size: 20px;
  font-size: 2em;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  color: #f665b2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f3359a;
}

input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  color: #959eac;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  input,
  textarea {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@font-face {
  font-family: "Source Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/sourcesanspro-light.eot");
  src: url("../fonts/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light.woff") format("woff"), url("../fonts/sourcesanspro-light.ttf") format("truetype"), url("../fonts/sourcesanspro-light.svg#Source Sans") format("svg");
}

@font-face {
  font-family: "Source Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#Source Sans") format("svg");
}

@font-face {
  font-family: "Source Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/sourcesanspro-semibold.eot");
  src: url("../fonts/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold.woff") format("woff"), url("../fonts/sourcesanspro-semibold.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold.svg#Source Sans") format("svg");
}

@font-face {
  font-family: "Flaticons Social";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/flaticons-social.eot");
  src: url("../fonts/flaticons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-social.woff") format("woff"), url("../fonts/flaticons-social.ttf") format("truetype"), url("../fonts/flaticons-social.svg#Flaticons Social") format("svg");
}

@font-face {
  font-family: "Flaticons Stroke";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/flaticons-stroke.eot");
  src: url("../fonts/flaticons-stroke.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-stroke.woff") format("woff"), url("../fonts/flaticons-stroke.ttf") format("truetype"), url("../fonts/flaticons-stroke.svg#Flaticons Stroke") format("svg");
}

.m-mod, .m-mod--story, .m-mod--right, .m-mod--left {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75), -1px -1px 1px rgba(255, 255, 255, 0.75);
}
.m-mod > h2, .m-mod--story > h2, .m-mod--right > h2, .m-mod--left > h2 {
  font-size: 32px;
  font-size: 3.2em;
  line-height: 1.3125;
  margin: 0 auto 6px;
}
@media screen and (min-width: 900px) {
  .m-mod > h2, .m-mod--story > h2, .m-mod--right > h2, .m-mod--left > h2 {
    margin: 130px 0 6px;
  }
}
.m-mod > p, .m-mod--story > p, .m-mod--right > p, .m-mod--left > p {
  font-size: 20px;
  font-size: 2em;
  line-height: 1.25;
  color: #959eac;
  margin-bottom: 48px;
}
@media screen and (min-width: 900px) {
  .m-mod > p, .m-mod--story > p, .m-mod--right > p, .m-mod--left > p {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  .m-mod, .m-mod--story, .m-mod--right, .m-mod--left {
    width: 460px;
  }
}
@media screen and (min-width: 900px) {
  .m-mod, .m-mod--story, .m-mod--right, .m-mod--left {
    text-align: left;
  }
}

.m-mod--story {
  margin-bottom: -110px;
  padding: 67px 20px 0;
  background: white;
  text-align: left;
}
.m-mod--story > h2 {
  margin: 0 0 18px;
  font-weight: 400;
}
.m-mod--story > p {
  font-size: 32px;
  font-size: 3.2em;
  margin-bottom: 18px;
  font-weight: 300;
  line-height: 1.3125;
  color: #616975;
}
.m-mod--story > p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  .m-mod--story {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .m-mod--story {
    width: 700px;
    padding: 67px 0 0;
  }
}
@media screen and (min-width: 1600px) {
  .m-mod--story {
    width: 940px;
    padding: 103px 20px 0;
  }
}

@media screen and (min-width: 900px) {
  .m-mod--right {
    float: right;
  }
}

@media screen and (min-width: 900px) {
  .m-mod--left {
    float: left;
  }
}

header {
  position: relative;
  height: 800px;
  padding: 30px 0;
  background: white url("/_assets/images/individual-home-bg.jpg") no-repeat center 0 fixed;
  border-bottom: 2px solid #616975;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  header {
    background-size: cover;
  }
}

a[role=top-nav] {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 16px;
  font-size: 1.6em;
}
@media screen and (min-width: 900px) {
  a[role=top-nav] {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.bottom-button {
  position: absolute;
  bottom: 36px;
  left: 0px;
  width: 100%;
}

.m-logo {
  display: block;
  width: 186px;
  height: 87px;
  margin: 0 0 20px;
  background: transparent url("/_assets/images/logo@2x.png") no-repeat 0 0;
  background-size: 186px 87px;
}
.m-logo h1 {
  text-indent: -9999px;
}
@media screen and (min-width: 900px) {
  .m-logo {
    margin: 0 0 20px -64px;
  }
}

.m-pitch {
  width: 100%;
  color: white;
  text-align: left;
}
.m-pitch > h1 {
  font-size: 32px;
  font-size: 3.2em;
  margin-bottom: 24px;
  line-height: 1.3125;
  text-shadow: 2px 2px 2px rgba(96, 211, 240, 0.4);
}
.m-pitch > h1 > .franc-text {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
}
.m-pitch p {
  font-size: 20px;
  font-size: 2em;
  margin-bottom: 19px;
  line-height: 1.25;
  text-shadow: 0px 1px 1px #60d3f0;
}
@media screen and (min-width: 900px) {
  .m-pitch {
    width: 620px;
  }
}
@media screen and (min-width: 1600px) {
  .m-pitch {
    width: 880px;
  }
}

.for-festivals > header {
  background-image: url("/_assets/images/festival-home-bg.jpg");
}
@media screen and (min-width: 900px) {
  .for-festivals .m-pitch {
    width: 700px;
  }
}
@media screen and (min-width: 1600px) {
  .for-festivals .m-pitch {
    width: 900px;
  }
}
.for-festivals .m-pitch > h1 {
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5), 0px 0px 32px black;
}
.for-festivals .m-pitch > p {
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 12px black;
}

footer {
  position: relative;
  margin: 0 auto 12px;
  background: white;
}
@media screen and (min-width: 900px) {
  footer {
    margin: 0 0 12px;
  }
}
@media screen and (min-width: 2000px) {
  footer {
    max-width: 2000px;
    margin: 0 auto;
  }
}

.m-update {
  width: 100%;
}
.m-update > h3 {
  font-size: 32px;
  font-size: 3.2em;
  margin: 0 0 60px;
  line-height: 1.3125;
}
.m-update > p {
  font-size: 20px;
  font-size: 2em;
  line-height: 1.25;
  color: #959eac;
  margin-bottom: 48px;
}
@media screen and (min-width: 600px) {
  .m-update {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .m-update {
    width: 700px;
  }
}

.contact {
  text-align: center;
}
@media screen and (min-width: 600px) {
  .contact {
    float: left;
    text-align: left;
  }
}

.contact-link, .contact-link--email, .contact-link--twitter, .contact-link--dribbble {
  font-size: 12px;
  font-size: 1.2em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  margin-right: 30px;
  padding-top: 31px;
  color: #d5d9dd;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75), -1px -1px 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-link:before, .contact-link--email:before, .contact-link--twitter:before, .contact-link--dribbble:before {
  font-size: 24px;
  font-size: 2.4em;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  content: "\e7d7";
  font-family: "Flaticons Social", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.contact-link:last-child, .contact-link--email:last-child, .contact-link--twitter:last-child, .contact-link--dribbble:last-child {
  margin-right: 0;
}

.contact-link--email:before {
  font-family: "Flaticons Stroke", sans-serif;
  content: "\e494";
}

.contact-link--twitter:before {
  content: "\e7d1";
}

.contact-link--dribbble:before {
  content: "\e7d7";
}

.social {
  margin-top: 24px;
  text-align: center;
}
.social > .fb-share-button {
  margin-right: 21px;
  line-height: 7px;
  cursor: pointer;
}
.social > #twitter-widget-0 {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .social {
    float: right;
    margin-top: -20px;
    text-align: left;
  }
}

.m-subnav {
  font-size: 20px;
  font-size: 2em;
  margin-bottom: 14px;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.m-subnav > a {
  display: block;
  margin: 0 0 12px;
  text-align: center;
  color: #b8c0cc;
}
.m-subnav > a:last-child {
  margin-bottom: 0;
}
.m-subnav > a:hover {
  color: #f665b2;
  text-decoration: underline;
}
@media screen and (min-width: 600px) {
  .m-subnav > a {
    display: inline-block;
    margin: 0 30px 0 0;
    text-align: left;
  }
  .m-subnav > a:last-child {
    margin-right: 0;
  }
}

small {
  font-size: 14px;
  font-size: 1.4em;
  display: block;
  line-height: 0.77777778;
  text-align: center;
  color: #e1e6ea;
}
@media screen and (min-width: 600px) {
  small {
    text-align: left;
  }
}

.m-divider, .m-divider--small-margin {
  margin-bottom: 52px;
  display: block;
  border: 1px dashed #f5f9ff;
}

.m-divider--small-margin {
  margin-bottom: 21px;
}

.m-button, .m-button--large, .m-button--light-blue, .m-button--primary {
  font-size: 20px;
  font-size: 2em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  display: inline-block;
  padding: 0 10px 2px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid white;
  font-weight: normal;
  color: white;
  line-height: 32px;
}
.m-button:hover, .m-button--large:hover, .m-button--light-blue:hover, .m-button--primary:hover {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  color: #f665b2;
  border-color: #f665b2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.m-button--large {
  font-size: 24px;
  font-size: 2.4em;
  padding: 0 20px;
  line-height: 40px;
  font-weight: 300;
}

.m-button--light-blue {
  border-color: #8adff5;
  color: #8adff5;
}

.m-button--primary {
  background: #75dbf5;
  background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.16) 0, rgba(255, 255, 255, 0) 50%);
  background-image: linear-gradient( rgba(255, 255, 255, 0.16) 0, rgba(255, 255, 255, 0) 50%);
  border: 1px solid #60d3f0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04), inset 0 0 0 1px #8adff5;
  text-shadow: 0 1px 0 #60d3f0;
}
.m-button--primary:hover {
  color: white;
  border-color: #44ccee;
  background: #59d4f3;
}

.m-form-sign-up, .m-form-sign-up--footer {
  *zoom: 1;
  position: relative;
  width: 100%;
  padding: 10px;
  background: rgba(97, 105, 117, 0.65);
  border-radius: 6px;
}
.m-form-sign-up:before, .m-form-sign-up--footer:before, .m-form-sign-up:after, .m-form-sign-up--footer:after {
  content: " ";
  display: table;
}
.m-form-sign-up:after, .m-form-sign-up--footer:after {
  clear: both;
}
@media screen and (min-width: 600px) {
  .m-form-sign-up, .m-form-sign-up--footer {
    width: 460px;
    padding: 0;
    background: transparent;
    border-radius: none;
  }
}
.m-form-sign-up > .m-button, .m-form-sign-up--footer > .m-button, .m-form-sign-up > .m-button--large, .m-form-sign-up--footer > .m-button--large, .m-form-sign-up > .m-button--light-blue, .m-form-sign-up--footer > .m-button--light-blue, .m-form-sign-up > .m-button--primary, .m-form-sign-up--footer > .m-button--primary {
  float: right;
}

.m-form-sign-up > span, .m-form-sign-up--footer > span {
  display: block;
  padding-right: 20px;
  overflow: hidden;
}
.m-form-sign-up > span div > input, .m-form-sign-up--footer > span div > input {
  font-size: 20px;
  font-size: 2em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  padding-bottom: 4px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  line-height: 30px;
  color: white;
}
.m-form-sign-up > span div > input::-webkit-input-placeholder, .m-form-sign-up--footer > span div > input::-webkit-input-placeholder {
  color: white;
}
.m-form-sign-up > span div > input:-moz-placeholder, .m-form-sign-up--footer > span div > input:-moz-placeholder {
  color: white;
}
.m-form-sign-up > span div > input::-moz-placeholder, .m-form-sign-up--footer > span div > input::-moz-placeholder {
  color: white;
}
.m-form-sign-up > span div > input:-ms-input-placeholder, .m-form-sign-up--footer > span div > input:-ms-input-placeholder {
  color: white;
}
.m-form-sign-up > span div > input:hover, .m-form-sign-up--footer > span div > input:hover {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  border-color: #f665b2;
}
.m-form-sign-up > span div > input:focus, .m-form-sign-up--footer > span div > input:focus {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  border-color: #f665b2;
}
.m-form-sign-up > span div > input:focus::-webkit-input-placeholder, .m-form-sign-up--footer > span div > input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.m-form-sign-up > span div > input:focus:-moz-placeholder, .m-form-sign-up--footer > span div > input:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.m-form-sign-up > span div > input:focus::-moz-placeholder, .m-form-sign-up--footer > span div > input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.m-form-sign-up > span div > input:focus:-ms-input-placeholder, .m-form-sign-up--footer > span div > input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.m-form-sign-up--footer {
  padding: 0;
  background: none;
}
@media screen and (min-width: 600px) {
  .m-form-sign-up--footer {
    width: 480px;
  }
}

.m-form-sign-up--footer > span div > input {
  padding: 0 15px 0;
  background: white;
  border: 1px solid #d5d9dd;
  color: #616975;
  line-height: 36px;
}
.m-form-sign-up--footer > span div > input::-webkit-input-placeholder {
  color: #d5d9dd;
}
.m-form-sign-up--footer > span div > input:-moz-placeholder {
  color: #d5d9dd;
}
.m-form-sign-up--footer > span div > input::-moz-placeholder {
  color: #d5d9dd;
}
.m-form-sign-up--footer > span div > input:-ms-input-placeholder {
  color: #d5d9dd;
}
.m-form-sign-up--footer > span div > input:hover, .m-form-sign-up--footer > span div > input:focus {
  border-color: #60d3f0;
}
.m-form-sign-up--footer > span div > input:focus {
  color: #959eac;
}
.m-form-sign-up--footer > span div > input:focus::-webkit-input-placeholder {
  color: rgba(213, 217, 221, 0.5);
}
.m-form-sign-up--footer > span div > input:focus:-moz-placeholder {
  color: rgba(213, 217, 221, 0.5);
}
.m-form-sign-up--footer > span div > input:focus::-moz-placeholder {
  color: rgba(213, 217, 221, 0.5);
}
.m-form-sign-up--footer > span div > input:focus:-ms-input-placeholder {
  color: rgba(213, 217, 221, 0.5);
}

.image, .image--screenshot, .image--marker {
  display: block;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.image--screenshot {
  position: relative;
  z-index: 2;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .image--screenshot {
    width: 275px;
    margin: 0;
  }
}
@media screen and (min-width: 1600px) {
  .image--screenshot {
    width: 350px;
  }
}

.image--marker {
  width: auto;
}

#story-bg {
  height: 281px;
  background-image: url("../images/story-image@2x.png");
  background-size: 1200px 281px;
}
@media screen and (min-width: 1200px) {
  #story-bg {
    height: 371px;
    background-size: cover;
  }
}

@media screen and (min-width: 900px) {
  #map-sh {
    float: right;
  }
}

#white-franc {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 311px;
  background-image: url("../images/white-franc@2x.png");
  background-size: 274px 311px;
  background-position: bottom right;
}

#gray-franc {
  position: absolute;
  right: 20px;
  bottom: 0px;
  height: 384px;
  background-image: url("../images/gray-franc@2x.png");
  background-size: 205px 384px;
  background-position: bottom right;
}

#met-up-group {
  height: 374px;
  margin-top: -374px;
  background-image: url("../images/together-at-last@2x.png");
  background-position: right;
  background-size: 614px 374px;
}

#marker-1 {
  position: absolute;
  bottom: -6px;
  left: 0px;
  height: 106px;
}

#marker-2 {
  position: absolute;
  right: 0px;
  bottom: 12px;
  height: 81px;
}

#marker-3 {
  position: absolute;
  bottom: 112.0px;
  left: 360px;
  height: 70px;
}

#marker-4 {
  position: absolute;
  bottom: 276px;
  left: 180px;
  height: 54px;
}

#marker-5 {
  position: absolute;
  bottom: 347.0px;
  left: 540px;
  height: 37px;
}

.for-festivals #met-up-group {
  float: right;
  width: auto;
  margin-top: 0;
}

.for-festivals {
  height: auto !important;
}

.franc-text {
  color: #f665b2;
  font-weight: 400;
}

.m-wrapper, .m-wrapper--white {
  *zoom: 1;
  position: relative;
  width: 100%;
  background: transparent;
}
.m-wrapper:before, .m-wrapper--white:before, .m-wrapper:after, .m-wrapper--white:after {
  content: " ";
  display: table;
}
.m-wrapper:after, .m-wrapper--white:after {
  clear: both;
}
@media screen and (min-width: 2000px) {
  .m-wrapper, .m-wrapper--white {
    max-width: 2000px;
    margin: 0 auto;
  }
}

.m-wrapper--white {
  background: white;
}

.full-width, .full-width--header, .full-width--update, .full-width--contact, .full-width--footer {
  *zoom: 1;
  position: relative;
  width: 100%;
  padding: 114px 20px;
}
.full-width:before, .full-width--header:before, .full-width--update:before, .full-width--contact:before, .full-width--footer:before, .full-width:after, .full-width--header:after, .full-width--update:after, .full-width--contact:after, .full-width--footer:after {
  content: " ";
  display: table;
}
.full-width:after, .full-width--header:after, .full-width--update:after, .full-width--contact:after, .full-width--footer:after {
  clear: both;
}
@media screen and (min-width: 900px) {
  .full-width, .full-width--header, .full-width--update, .full-width--contact, .full-width--footer {
    width: 820px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .full-width, .full-width--header, .full-width--update, .full-width--contact, .full-width--footer {
    width: 940px;
  }
}
@media screen and (min-width: 1600px) {
  .full-width, .full-width--header, .full-width--update, .full-width--contact, .full-width--footer {
    width: 1180px;
    padding: 156px 40px;
  }
}
@media screen and (min-width: 2000px) {
  .full-width, .full-width--header, .full-width--update, .full-width--contact, .full-width--footer {
    padding: 192px 40px;
  }
}

.full-width--header {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 900px) {
  .full-width--header {
    width: 700px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .full-width--header {
    width: 940px;
  }
}
@media screen and (min-width: 1600px) {
  .full-width--header {
    width: 1180px;
  }
}

.full-width--update {
  padding: 114px 20px 70px;
}
@media screen and (min-width: 900px) {
  .full-width--update {
    width: 700px;
    padding: 114px 0 70px;
  }
}
@media screen and (min-width: 1200px) {
  .full-width--update {
    width: 940px;
  }
}
@media screen and (min-width: 1600px) {
  .full-width--update {
    width: 1180px;
  }
}

.full-width--contact {
  padding: 0 20px 19px;
}
@media screen and (min-width: 900px) {
  .full-width--contact {
    width: 700px;
    padding: 0 0 19px;
  }
}
@media screen and (min-width: 1200px) {
  .full-width--contact {
    width: 940px;
  }
}
@media screen and (min-width: 1600px) {
  .full-width--contact {
    width: 1180px;
  }
}

.full-width--footer {
  padding: 0 20px 114px;
}
@media screen and (min-width: 900px) {
  .full-width--footer {
    width: 700px;
    padding: 0 0 114px;
  }
}
@media screen and (min-width: 1200px) {
  .full-width--footer {
    width: 940px;
  }
}
@media screen and (min-width: 1600px) {
  .full-width--footer {
    width: 1180px;
  }
}

.festival-story-bg {
  *zoom: 1;
  padding-top: 48px;
  background: #f5f9ff;
}
.festival-story-bg:before, .festival-story-bg:after {
  content: " ";
  display: table;
}
.festival-story-bg:after {
  clear: both;
}

.for-festivals .m-mod--story {
  margin-bottom: -510px;
}

.is-hidden {
  opacity: 0;
  display: none;
}

.ie-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0;
  background: rgba(39, 43, 47, 0.9);
  text-align: center;
}

.ie-message {
  z-index: 200;
  position: fixed;
  top: 24px;
  left: 24px;
  padding: 24px;
  background: #f26464;
  border-radius: 12px;
  border: 2px solid #ed3535;
  box-shadow: inset 0 0 0 2px #f37272, 0 6px 9px rgba(0, 0, 0, 0.3);
}
.ie-message > p {
  font-size: 20px;
  font-size: 2em;
  color: #fbcbcb;
}
.ie-message > p > a, .ie-message > p a:visited {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.ie-message > p > a:hover, .ie-message > p a:visited:hover {
  text-decoration: none;
}
