.m-mod {
  @include transition (all $animation-duration ease-in-out);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 0px transparentize(white, 0.25), -1px -1px 1px transparentize(white, 0.25);
  > h2 {
    @include font-size(3.2);
    line-height: 1.3125;
    margin: 0 auto $baseline;
    @media screen and (min-width: $bp) { margin: ($baseline * 21 + 4) 0 $baseline;}
  }
  > p {
    @include font-size(2);
    line-height: 1.25; // 25px
    color: $darker-gray;
    margin-bottom: $baseline * 8;
    @media screen and (min-width: $bp) { margin-bottom: 0;}
  }
  @media screen and (min-width: $bp-small) { width: ($column * 4) + ($gutter * 3);}
  @media screen and (min-width: $bp) { text-align: left;}
}

.m-mod--story {
  @extend .m-mod;
  margin-bottom: -110px;
  padding: ($baseline * 12 - 5) $gutter 0;
  background: white;
  text-align: left;
  > h2 { 
    margin: 0 0 ($baseline * 3);
    font-weight: $font-normal;
  }
  > p { 
    @include font-size(3.2);
    margin-bottom: $baseline * 3;
    font-weight: $font-light;
    line-height: 1.3125;
    color: $darkest-gray;
    &:last-child { margin-bottom: 0;}
  }
  @media screen and (min-width: $bp-small) { width: 90%;}
  @media screen and (min-width: $bp) { 
    width: ($column * 6) + ($gutter * 5);
    padding: $baseline * 12 - 5 0 0;
  }
  @media screen and (min-width: $bp-larger) { 
    width: ($column * 8) + ($gutter * 7);
    padding: ($baseline * 18 - 5) $gutter 0;
  }
}

.m-mod--right { 
  @extend .m-mod;
  @media screen and (min-width: $bp) { float: right;}
}

.m-mod--left { 
  @extend .m-mod;
  @media screen and (min-width: $bp) { float: left;}
}
