article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  color: #383d47;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

dl,
dd,
dt {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

input[disabled] {
  cursor: not-allowed;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

.l-left {
  float: left !important;
}

.l-right {
  float: right !important;
}

.l-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right;
}

.t-color-alert {
  color: #f345a6;
}

.t-color-confirm {
  color: #2fcf74;
}

.t-color-delete {
  color: #f12a35 !important;
}

.t-color-delete:hover {
  color: #f12a35 !important;
}

.t-color-hot {
  color: #f345a6;
}

.t-color-light {
  color: #5c6473;
}

.t-color-lighter {
  color: #8e97a7 !important;
}

.t-color-lightest {
  color: #a7adb4;
}

.t-color-regular {
  color: #383d47;
}

.t-callout-text {
  line-height: 1.5em !important;
}

.t-body-text {
  line-height: 1.3125em !important;
}

.t-caption-text {
  line-height: 1.125em !important;
}

.t-single-line-text {
  line-height: 1em !important;
}

.t-default {
  font-size: 1em;
}

.t-large {
  font-size: 1.125em !important;
}

.t-small {
  font-size: 0.875em !important;
  line-height: 1em;
}

.t-smaller {
  font-size: 0.75em !important;
  line-height: 1em;
}

.t-thin {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.t-bold {
  font-weight: 600;
}

.t-capitalize {
  text-transform: capitalize;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-truncate {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.t-screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.m-button, .m-button--large {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZWFlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f6f8), color-stop(100%, #e7eaec));
  background-image: -webkit-linear-gradient(#f4f6f8, #e7eaec);
  background-image: -moz-linear-gradient(#f4f6f8, #e7eaec);
  background-image: -o-linear-gradient(#f4f6f8, #e7eaec);
  background-image: linear-gradient(#f4f6f8, #e7eaec);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.24) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.24) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.24) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.24) inset;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.24) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.24) inset;
  border: 1px solid #dadcde;
  color: #5c6473 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  text-decoration: none;
}

.m-button:focus, .m-button--large:focus {
  outline: none;
}

.m-button--large {
  font-size: 20px !important;
  height: 48px;
  line-height: 46px;
  padding: 0 20px;
}

.m-button--primary:not([disabled]) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwZGVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmYzVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70deff), color-stop(100%, #0fc5f5));
  background-image: -webkit-linear-gradient(#70deff, #0fc5f5);
  background-image: -moz-linear-gradient(#70deff, #0fc5f5);
  background-image: -o-linear-gradient(#70deff, #0fc5f5);
  background-image: linear-gradient(#70deff, #0fc5f5);
  border-color: #00b6e4;
  color: white !important;
  text-shadow: 0 1px 0 #00b6e4;
}

.m-button--primary:hover:not([disabled]) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5ZTRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmYzVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89e4ff), color-stop(100%, #0fc5f5));
  background-image: -webkit-linear-gradient(#89e4ff, #0fc5f5);
  background-image: -moz-linear-gradient(#89e4ff, #0fc5f5);
  background-image: -o-linear-gradient(#89e4ff, #0fc5f5);
  background-image: linear-gradient(#89e4ff, #0fc5f5);
  border-color: #00aeda;
}

.m-button--primary:active:not([disabled]) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3Y2JmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmYzVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27cbf6), color-stop(100%, #0fc5f5));
  background-image: -webkit-linear-gradient(#27cbf6, #0fc5f5);
  background-image: -moz-linear-gradient(#27cbf6, #0fc5f5);
  background-image: -o-linear-gradient(#27cbf6, #0fc5f5);
  background-image: linear-gradient(#27cbf6, #0fc5f5);
}

.m-form__field {
  position: relative;
  width: 100%;
  margin: 0 auto 18px;
  padding: 8px 10px 12px;
  background: white;
  border: 1px solid #8e97a7;
  text-align: left;
}
.m-form__field.is-focused {
  border-color: #0fc5f5;
  -webkit-box-shadow: rgba(15, 197, 245, 0.13) 0 0 3px 1px;
  -moz-box-shadow: rgba(15, 197, 245, 0.13) 0 0 3px 1px;
  box-shadow: rgba(15, 197, 245, 0.13) 0 0 3px 1px;
}
.m-form__field.is-error {
  border-color: #f12a35;
  -webkit-box-shadow: rgba(241, 42, 53, 0.13) 0 0 3px 1px;
  -moz-box-shadow: rgba(241, 42, 53, 0.13) 0 0 3px 1px;
  box-shadow: rgba(241, 42, 53, 0.13) 0 0 3px 1px;
}
@media screen and (min-width: 500px) {
  .m-form__field {
    width: 410px;
  }
}

.m-error {
  margin: 12px -10px -12px;
  padding: 6px 10px;
  background: #f12a35;
  color: white;
}
.m-error.is-hidden {
  display: none;
}

input {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 1em;
  color: #383d47;
  border: none;
  outline: none;
}

input:focus {
  outline: 0;
}

label {
  cursor: pointer;
  display: block;
  padding-bottom: 6px;
  font-size: 0.75em;
  line-height: 1;
  color: #5c6473;
  white-space: nowrap;
}
label.is-hidden {
  display: none;
}

.is-focused > label {
  color: #0fc5f5;
}

::-webkit-input-placeholder {
  color: #cdd4db;
  cursor: text;
}

.m-form__input::-webkit-input-placeholder {
  padding-top: 2px;
}

:-moz-placeholder {
  color: #cdd4db;
  cursor: text;
  padding: 0;
}

::-moz-placeholder {
  color: #cdd4db;
  cursor: text;
  padding: 0;
}

:focus::-webkit-input-placeholder {
  opacity: 0.8;
}

:focus:-moz-placeholder {
  opacity: 0.8;
}

:focus::-moz-placeholder {
  opacity: 0.8;
}

[class*="--error"] > input[class*="m-form__input"]:focus + .m-form__input__error {
  opacity: 1;
  visibility: visible;
}

body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white url(../img/teaser-bg.png) no-repeat center 11em;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  text-align: center;
}
@media screen and (min-width: 365px) {
  body {
    background-position: center 8em;
  }
}
@media screen and (min-width: 800px) {
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 2em;
  }
}

.l-wrapper {
  width: 80%;
  margin: 0 auto 6em;
  padding: 24px 0 0;
}
@media screen and (min-width: 800px) {
  .l-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 61.25em) {
  .l-wrapper {
    max-width: 61.25em;
  }
}

.m-logo {
  display: block;
  width: 170px;
  height: 186px;
  margin: 0 auto 24px;
  background: transparent url(../img/franc-logo-teaser.svg) no-repeat 0 0;
}
.m-logo > h1 {
  font-size: 0px;
  text-indent: -9999em;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  margin: 0 0 18px;
  font-size: 2em;
}

h2 {
  margin: 0 0 18px;
  font-size: 1.375em;
}

.fb-share-button,
#twitter-widget-0 {
  vertical-align: middle;
  margin-right: 10px;
}

#twitter-widget-0 {
  position: relative;
  margin-right: 7px;
}

.m-footer {
  width: 100%;
  padding: 1em 10%;
  background: rgba(56, 61, 71, 0.8);
  color: #a7adb4;
}
.m-footer > a {
  display: block;
  color: #a7adb4;
  text-decoration: none;
}
.m-footer > a:hover, .m-footer > a:active {
  color: #0fc5f5;
}
.m-footer > p > a {
  color: #a7adb4;
  text-decoration: none;
}
.m-footer > p > a:hover, .m-footer > p > a:active {
  color: #0fc5f5;
}
@media screen and (min-width: 800px) {
  .m-footer {
    position: absolute;
    bottom: 0;
  }
  .m-footer > p {
    margin-bottom: 0;
  }
}
