html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'source sans pro', Helvetica, sans-serif;
  color: #5D6473;
  background: #ffffff; }

a {
  color: #606874;
  text-decoration: none; }

label {
  display: block;
  font-size: 1.5em;
  font-weight: 300; }

input {
  border: none;
  width: 100%;
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
  color: #5D6473; }

button,
a.btn {
  background-color: #70deff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70deff), color-stop(100%, #0fc5f5));
  background-image: -webkit-linear-gradient(-90deg, #70deff 0%, #0fc5f5 100%);
  background-image: linear-gradient(-180deg,#70deff 0%, #0fc5f5 100%);
  border: 2px solid #00B6E4;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.75em;
  text-shadow: 0px 2px 0px #00B6E4; }
  button.secondary,
  a.btn.secondary {
    background: #FFFFFF;
    color: #2DCFF7;
    border: 2px solid #2DCFF7;
    text-shadow: none; }
  button.tertiary,
  a.btn.tertiary {
    background: #FFFFFF;
    border: 2px solid #959DAB;
    color: #959DAB;
    text-shadow: none; }
  button.disabled,
  a.btn.disabled {
    background: #FFFFFF;
    border: 2px solid #DADDE0;
    color: #B5BDC9;
    text-shadow: 0px 2px 0px rgba(255, 254, 254, 0.7); }

.sign-in {
  padding: 71px 59px; }
  .sign-in .box {
    margin: 30px 0; }
  .sign-in a {
    display: block;
    text-align: center;
    font-size: 28px;
    color: #F666B4;
    text-decoration: none;
    margin-top: 30px; }

#menu-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 13px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) -5px 2px 3px 0px;
  border: 1px solid #d4d8dc;
  border-left-width: 0; }
  #menu-toggle a {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../_img/menu.png) no-repeat center; }
  #menu-toggle.open a {
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    transform: scale(-1); }

#menu {
  position: absolute;
  left: -80%;
  width: 80%;
  height: 100vh;
  background: #fafcff;
  box-shadow: inset rgba(0, 0, 0, 0.3) -1px -2px 10px 0px; }
  #menu #sign-out {
    position: absolute;
    bottom: 90px; }
  #menu .header {
    padding: 20px; }
    #menu .header img {
      display: inline-block;
      width: 85px; }
    #menu .header h1 {
      display: inline-block;
      vertical-align: top;
      font-size: 2em;
      padding: 25px 0; }
  #menu .invisible {
    padding-left: 60px;
    background: url(../_img/invisible.png) no-repeat 40px center; }
  #menu a {
    display: block;
    padding: 10px 40px;
    font-size: 1.25em; }

#map {
  width: 100vw;
  height: 100vh;
  background: #D8D8D8; }

#nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
  background: #ffffff;
  z-index: 9; }
  #nav a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 30px 0;
    text-align: center; }
    #nav a.selected {
      color: #F345A6; }
      #nav a.selected:after {
        content: '';
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 12px;
        border-bottom-color: #f345a6;
        position: absolute;
        bottom: 0;
        left: 45%; }

#search {
  width: 100%;
  background: #ffffff; }
  #search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 89%;
    padding: 19px;
    box-shadow: inset rgba(0, 0, 0, 0.4) 2px 0px 10px -5px; }

#notifications.list .description {
  width: 80%; }
#notifications.list .btn {
  float: left;
  margin-top: 10px;
  margin-right: 20px; }

.wrapper {
  width: 521px;
  margin: 0 auto; }

.logo-img {
  width: 205px;
  height: 324px;
  margin: 0 auto;
  background: url(../_img/logo-img.png) no-repeat; }

.box {
  border: 1px solid #959DAB; }
  .box .field {
    padding: 20px; }
    .box .field:first-child {
      border-bottom: 1px dashed #959DAB; }

.submission {
  text-align: center; }

.back {
  float: left;
  width: 60px;
  height: 71px;
  border-right: 2px solid #E2E6EA;
  background: url(../_img/left-arrow.png) no-repeat center;
  background-size: 25%; }

.list {
  background-color: rgba(0, 0, 0, 0.06);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.06)), color-stop(10px, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0) 10px);
  background-image: linear-gradient(-180deg,rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0) 10px);
  background-color: #ffffff;
  width: 100%;
  height: 90%;
  border-top: 2px solid #D4D8DC; }
  .list li {
    *zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #E2E6EA; }
    .list li:before, .list li:after {
      content: " ";
      display: table; }
    .list li:after {
      clear: both; }
  .list .description,
  .list .status {
    float: left;
    font-size: 1.5em;
    padding-top: 20px; }
  .list .invite {
    padding-left: 100px;
    font-size: 1.5em;
    line-height: 1.9em; }
  .list a.btn {
    float: right;
    font-size: 1.5em; }
  .list .status {
    float: right; }
  .list .approved,
  .list .alert {
    width: 32px;
    height: 32px;
    background: url(../_img/approved.png) no-repeat center; }
  .list .alert {
    background: url(../_img/alert.png) no-repeat center; }

.profile-img-small {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 50%; }

.no-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(82, 196, 246, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(82, 196, 246, 0.2)), color-stop(100%, #52c4f6));
  background-image: -webkit-linear-gradient(-90deg, rgba(82, 196, 246, 0.2) 0%, #52c4f6 100%);
  background-image: linear-gradient(-180deg,rgba(82, 196, 246, 0.2) 0%, #52c4f6 100%);
  padding: 5px 0;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 36px;
  text-shadow: 0px 2px 2px rgba(55, 61, 71, 0.2);
  border: 1px solid #52C4F6;
  text-align: center; }

.add {
  float: right;
  width: 34px;
  height: 33px;
  background: url(../_img/add.png) no-repeat center; }
