html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'source sans pro', Helvetica, sans-serif;
  color: #5D6473;
  background: #ffffff; }

a {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #F666B4;
  text-decoration: none;
  margin-top: 30px; }

label {
  display: block;
  font-size: 1.5em;
  font-weight: 300; }

input {
  border: none;
  width: 100%;
  font-size: 1.75em;
  font-weight: 300;
  color: #5D6473; }

button {
  background-color: #70deff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70deff), color-stop(100%, #0fc5f5));
  background-image: -webkit-linear-gradient(-90deg, #70deff 0%, #0fc5f5 100%);
  background-image: linear-gradient(-180deg,#70deff 0%, #0fc5f5 100%);
  border: 2px solid #00B6E4;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.75em;
  text-shadow: 0px 2px 0px #00B6E4; }

.sign-in {
  padding: 71px 59px; }
  .sign-in .box {
    margin: 30px 0; }

.wrapper {
  width: 521px;
  margin: 0 auto; }

.logo-img {
  width: 205px;
  height: 324px;
  margin: 0 auto;
  background: url(../_img/logo-img.png) no-repeat; }

.box {
  border: 1px solid #959DAB; }
  .box .field {
    padding: 20px; }
    .box .field:first-child {
      border-bottom: 1px dashed #959DAB; }

.submission {
  text-align: center; }
