@import "reset";
@import "bourbon";

body {
  font-family: 'source sans pro', Helvetica, sans-serif;
  color: #5D6473;
  background: #ffffff;
}

a {
  color: #606874;
  text-decoration: none;
}

label {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}

input {
  border: none;
  width: 100%;
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
  color: #5D6473;
}
button,
a.btn {
  @include linear-gradient(-180deg, #70DEFF 0%, #0FC5F5 100%);
  border: 2px solid #00B6E4;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.75em;
  text-shadow: 0px 2px 0px #00B6E4;
  &.secondary {
    background: #FFFFFF;
    color: #2DCFF7;
    border: 2px solid #2DCFF7;
    text-shadow: none;
  }
  &.tertiary {
    background: #FFFFFF;
    border: 2px solid #959DAB;
    color: #959DAB;
    text-shadow: none;
  }
  &.disabled {
    background: #FFFFFF;
    border: 2px solid #DADDE0;
    color: #B5BDC9;
    text-shadow: 0px 2px 0px rgba(255,254,254,0.70);
  }
}

.sign-in {
  padding: 71px 59px;
  .box {
    margin: 30px 0;
  }
  a {
    display: block;
    text-align: center;
    font-size: 28px;
    color: #F666B4;
    text-decoration: none;
    margin-top: 30px;
  }
}
#menu-toggle {
  @include box-sizing(border-box);
  position: fixed;
  top: 20px;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 13px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) -5px 2px 3px 0px;
  border: 1px solid #d4d8dc;
  border-left-width: 0;
  z-index: 99;
  a {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../_img/menu.png)no-repeat center;    
  }
  &.open {
    // left: 80%;
    a {
      @include transform(scale(-1));
    }
  }
}
#menu {
  position: absolute;
  left: -80%;
  width: 80%;
  height:100vh;
  background: #fafcff;
  box-shadow: inset rgba(0,0,0,0.3) -1px -2px 10px 0px;
  #sign-out {
    position: absolute;
    bottom: 90px;
  }
  .header {
    padding: 20px;
    img {
      display: inline-block;
      width: 85px;
    }
    h1 {
      display: inline-block;
      vertical-align: top;
      font-size: 2em;
      padding: 25px 0;
    }
  }
  .invisible {
    padding-left: 60px;
    background: url(../_img/invisible.png)no-repeat 40px center;
  }
  a {
    display: block;
    padding: 10px 40px;
    font-size: 1.25em;
  }
}
#map {
  width: 100vw;
  height: 92%;
  background: #D8D8D8;
}
#nav {
  position: fixed;
  width: 100%;
  height: 12%;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
  background: #ffffff;
  z-index: 9;
  a {
    @include box-sizing(border-box);
    position: relative;
    float: left;
    width: 33%;
    padding: 35px 0;
    text-align: center;
    &.selected {
      color: #F345A6;
      &:after {
        content: '';
        @include triangle(24px, #F345A6, up);
        position: absolute;
        bottom: 0;
        left: 45%;
      }
    }
  }
}
#search {
  // position: absolute;
  // top: 0;
  width: 100%;
  background: #ffffff;
  input {
    @include box-sizing(border-box);
    width: 89%;
    padding: 19px;
    box-shadow: inset rgba(0,0,0,0.4) 2px 0px 10px -5px;
  }
}
#notifications.list {
  .description {
    width: 80%;
  }
  .btn {
    float: left;
    margin-top: 10px;
    margin-right: 20px;  
  }
}
.wrapper {
  width: 521px;
  margin: 0 auto;
}
.logo-img {
  width: 205px;
  height: 324px;
  margin: 0 auto;
  background: url(../_img/logo-img.png)no-repeat;
}
.box {
  border: 1px solid #959DAB;
  .field {
    padding: 20px;
    &:first-child {
      border-bottom: 1px dashed #959DAB;
    }
  }
}
.submission {
  text-align: center;
}
.back {
  float: left;
  width: 60px;
  height: 71px;
  border-right: 2px solid #E2E6EA;
  background: url(../_img/left-arrow.png)no-repeat center;
  background-size: 25%;
}
.list {
  @include linear-gradient(-180deg, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.00) 10px);
  // position: absolute;
  // top: 71px;
  background-color: #ffffff;
  width: 100%;
  height: 90%;
  border-top: 2px solid #D4D8DC;
  li {
    @include clearfix();
    @include box-sizing(border-box);
    padding: 20px;
    border-bottom: 1px solid #E2E6EA;
  }
  .description,
  .status {
    float: left;
    font-size: 1.5em;
    padding-top: 20px;
  }
  .invite {
    padding-left: 100px;
    font-size: 1.5em;
    line-height: 1.9em;
  }
  a.btn {
    float: right;
    font-size: 1.5em;
  }
  .status {
    float: right;
  }
  .approved,
  .alert {
    width: 32px;
    height: 32px;
    background: url(../_img/approved.png)no-repeat center;
  }
  .alert {
    background: url(../_img/alert.png)no-repeat center;
  }
}
.profile-img-small {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 50%;
}
.no-image {
  @include box-sizing(border-box);
  @include linear-gradient(-180deg, rgba(82,196,246,0.20) 0%, #52C4F6 100%);
  padding: 5px 0;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 36px;
  text-shadow: 0px 2px 2px rgba(55,61,71,0.20);
  border: 1px solid #52C4F6;
  text-align: center;
}
.add {
  float: right;
  width: 34px;
  height: 33px;
  background: url(../_img/add.png)no-repeat center;
}












