@import "reset";
@import "bourbon";

body {
  font-family: 'source sans pro', Helvetica, sans-serif;
  color: #5D6473;
  background: #ffffff;
}

a {
  color: #606874;
  text-decoration: none;
}

label {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}

input {
  border: none;
  width: 100%;
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
  color: #5D6473;
}
button {
  @include linear-gradient(-180deg, #70DEFF 0%, #0FC5F5 100%);
  border: 2px solid #00B6E4;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.75em;
  text-shadow: 0px 2px 0px #00B6E4;
  &.secondary {
    background: #FFFFFF;
    color: #2DCFF7;
    border: 2px solid #2DCFF7;
  }
  &.tertiary {
    background: #FFFFFF;
    border: 2px solid #959DAB;
    color: #959DAB;
  }
  &.disabled {
    background: #FFFFFF;
    border: 2px solid #DADDE0;
    color: #B5BDC9;
    text-shadow: 0px 2px 0px rgba(255,254,254,0.70);
  }
}

.sign-in {
  padding: 71px 59px;
  .box {
    margin: 30px 0;
  }
  a {
    display: block;
    text-align: center;
    font-size: 28px;
    color: #F666B4;
    text-decoration: none;
    margin-top: 30px;
  }
}
#map {
  width: 100vw;
  height: 100vh;
  background: #D8D8D8;
}
#nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
  background: #ffffff;
  a {
    @include box-sizing(border-box);
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 30px 0;
    text-align: center;
    &.selected {
      color: #F345A6;
      &:after {
        content: '';
        @include triangle(24px, #F345A6, up);
        position: absolute;
        bottom: 0;
        left: 45%;
      }
    }
  }
}
#search {
  position: absolute;
  width: 100%;
  top: 0;
  background: #ffffff;
  input {
    @include box-sizing(border-box);
    width: 75%;
    padding: 19px;
    box-shadow: inset rgba(0,0,0,0.4) 2px 0px 10px -5px;
  }
}
.wrapper {
  width: 521px;
  margin: 0 auto;
}
.logo-img {
  width: 205px;
  height: 324px;
  margin: 0 auto;
  background: url(../_img/logo-img.png)no-repeat;
}
.box {
  border: 1px solid #959DAB;
  .field {
    padding: 20px;
    &:first-child {
      border-bottom: 1px dashed #959DAB;
    }
  }
}
.submission {
  text-align: center;
}
.back {
  float: left;
  width: 60px;
  height: 70px;
  border-right: 2px solid #E2E6EA;
  background: url(../_img/left-arrow.png)no-repeat center;
  background-size: 25%;
}












